{% extends 'home.html' %}

{% load static %}
{% block child1 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{%static 'aboutus.css'%}">
</head>
<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
At Online Book Store, we believe in the power of reading to expand minds and open hearts. Our team is dedicated to curating a diverse selection of books to inspire, educate, and entertain. Whether you’re a seasoned reader or just starting your literary journey, we’re here to provide you with an exceptional reading experience.Our mission is to connect book lovers worldwide with their next great read. We carefully curate our collection to include a wide range of genres, from classic literature to contemporary fiction, non-fiction, mysteries, and more. Whether you’re looking for an escape into a fictional world or seeking knowledge from thought-provoking non-fiction, we’ve got you covered.

<h1>Why Choose Us?</h1>
            <li>Quality Selection: We handpick each book to ensure quality, relevance, and enjoyment for our readers.</li>
            <li>Diverse Genres: Explore a variety of genres, from romance and science fiction to self-help and history.</li>
            <li>Easy Ordering: Our user-friendly platform makes it simple to find and order your favorite books.</li>
            <li>Passionate Team: We’re book enthusiasts ourselves, and we’re committed to sharing our love of reading with you.</li>
Thank you for choosing Online Book Store. Happy reading! 📚🌟
            </p>
        </div>
    </div>
{% endblock child1 %}
</body>
</html>